@font-face{font-family:Optima;src:url("fonts/Optima_Regular.woff2")}
@font-face{font-family:Optima;src:url("fonts/Optima_Bold.woff2");font-weight:700}
@font-face{font-family:Lora;src:url("fonts/Lora-Regular.woff2")}
@font-face{font-family:Lora;src:url("fonts/Lora-Italic.woff2");font-style:italic}
body{word-wrap:break-word!important;font-family:Lora,"Microsoft Yahei UI","PingFang SC"}
.zh{font-family:"Microsoft Yahei UI","PingFang SC"}
span.also:before{content:"→ "}
sub,sup{line-height:100%}
legend,ul,ol{padding:0}
p,h2{text-indent:0;word-wrap:break-word;-webkit-margin-before:0;-webkit-margin-after:0;-webkit-margin-start:0;-webkit-margin-end:0}
.header{display:inline-block;font-weight:700;font-size:150%;color:#06c;font-family:Optima}
.header~.header{margin-top:1em}
.ncecd_con{display:inline}
.class_box{margin-top:1em}
.class{display:inline-block;color:teal;font-family:Optima;font-weight:700}
.class+.etips,.class+.tense{display:block;margin:0 0 .3em}
.label_box{margin:.3em 0}
.label{color:#009688;font-size:95%;font-family:"Microsoft Yahei UI","PingFang SC",sans-serif}
.tense{margin:0 .3em;font-size:95%;display:block;color:#708090;text-transform:lowercase}
.tense b{color:initial;text-transform:initial;font-family:Optima}
.label+.label{margin-left:0}
.etips{color:gray}
.sense{margin-left:1.4em;font-family:Lora}
.sense .zh{font-size:95%}
.sense i{font-style:normal}
.num{font-weight:700;font-size:90%;display:inline-block;width:1.6em;margin-left:-1.6em}
.num:after{content:''}
.also>b{margin-right:.4em;color:#dc143c;font-weight:700;font-size:95%;font-family:Optima}
.sense .also{margin:0 0 0 .5em}
.phr{border:0!important}
.ex{font-style:normal;color:#369;font-size:95%;margin-left:2.3em;display:block;margin-top:.2em;font-family:Lora;font-style:italic;font-size:95%;position:relative}
.ex:before{content:"\2022  ";display:inline;font-size:95%;position:absolute;left:-.7em}
.ex .zh{font-style:normal;color:#369;font-size:95%;display:block}
.phr,.note,.ncecd_con>.usage{display:block;border-radius:8px;border:1.5px dashed #aaa;margin-top:1em;margin-bottom:1em;font-size:95%}
.phr b{margin-right:.4em;color:#dc143c;font-weight:700;font-family:Optima}
.phr b:after{content:':'}
.phr>a{margin-left:.4em}
fieldset.usage{border:1.5px solid gray}
legend.usage.title{font-weight:700}
a{font-weight:700;color:#039;text-decoration:none;font-family:Lora;font-style:italic}
.ncecd_con>.also{margin-left:1.4em;margin-top:.5em}
fieldset.culture.note{font-family:"Microsoft Yahei UI","PingFang SC",sans-serif}
legend.culture.notehead{font-weight:700}
.culture.notetitle{font-weight:700;font-family:Optima;padding:0 .5em;font-size:110%}
NCECD img{width:640px;max-width:100%}
NCECD img.img_big{width:100%;max-width:100%}
span.pluralor{padding-left:2px;padding-right:3.5px;color:#708090;font-style:italic}
span.plural{padding-left:2px;padding-right:2px}
span.tensexxx{padding-left:2px;padding-right:2px}
span.labelnone{display:none}
span.engamdiffernt{font-size:95%;font-weight:400;text-transform:initial;color:#708090;margin:0 .3em}
span.symbol{font-style:italic;color:teal;font-size:85%;letter-spacing:.5px;margin-right:.4em}
pron{margin-left:.4em;margin-right:.4em;display:inline-block;font-size:105%;font-family:"Arial","Helvetica",sans-serif}
span.nonepron{display:none}
span.spelldiffernt{display:block}
span.mphr_en{font-weight:700;font-family:Optima;font-weight:700}
span.phrase_sense{font-weight:700;font-size:95%;font-family:Optima}
span.dodo_phrase_sense{font-weight:700;font-family:Optima}
span.phrase_with_or{font-weight:700;font-size:95%;font-family:"Optima"}
span.equal_phrase{font-weight:700;font-size:95%;color:#369}
.next{font-weight:400;color:#000;margin-top:1em}
.next+.sense{margin-top:0}
.maybe_phrase{margin-left:1.5em;margin-top:.3em}
strong.brief_ex{margin-right:.2em;font-weight:700;color:#000;font-family:Optima}
.maybe_phrase span.zh{font-weight:400;padding-left:4px;font-size:95%}
span.doble.bigword{color:red}
span.doble.bigword:before{content:"or";margin-right:.4em;margin-left:.4em;font-size:90%;color:#4e8300}
.mphr_en>.or{color:#4e8300;font-size:90%;display:inline-block;margin-left:.4em;margin-right:.4em}
.maybe_phrase>.or{color:#4e8300;font-size:90%;display:inline-block;margin-left:.4em;margin-right:.4em}
.or{color:#4e8300;font-size:90%;display:inline-block;margin-left:.4em;margin-right:.4em}
span.collocation{color:teal;font-size:95%;font-family:Lora;font-style:italic}
.collocation+.zh{margin-left:.4em}
span.differ.big{margin:0 .5em 0 0}
.idom>.idom{color:#8b008b;font-weight:700;font-size:95%;margin-top:1em;display:none}
.idom>.sense{margin-left:1.4em}
.idom>.div{margin-left:2.8em}
.sense+.sense{margin-top:0}
.idom+.sense{margin-top:0}
.dodo{margin-top:.8em;font-weight:700;font-size:90%;color:#00c;display:inline-block;width:1.6em;margin-left:-1.6em}
.abc{display:none}
.abc+.class{margin-left:0}
.abbre{color:teal;font-size:85%;letter-spacing:.5px;margin-right:.4em}
.class_box+.sense{margin-top:.3em}
.dodo~.zh{margin-left:.4em}
pron+.class_box{display:inline}
.class_box+.label_box{display:inline}
.class+.label_box{display:inline}
.sense>.num{margin-top:.8em;display:inline-block;font-family:"Optima"}
.phrase_sense+.zh{margin-left:.4em}
.ex+.sense>.brief_ex{display:inline-block;margin-top:.8em}
.collocation::before{content:'[';font-style:normal}
.collocation::after{content:']';font-style:normal}
.sense .tense{display:inline}